.contact-block{
    display: flex;
    flex-direction: row;
    color: #FFF;
}

.contact-block .left-side {
    width: 40vw;
    height: 100vh;
    background-color: rgb(var(--primary));
    position: sticky;
    top: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.contact-block .right-side {
    width: 60vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: rgba(var(--dark), 1)
}

.contact-form-conainer{
    padding: 5em 20% 5em 5em;
}

.title-left-content{
    margin-left: 35%;
    margin-right: 15%;
}


.contact-block h1{
    font-weight: 500;
    margin-bottom: 1em;
}

#illu1{
    position: absolute;
    bottom: 0;
    left: 20vw;
}

#shape-pro-1{
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translateY(-20%);
}

#shape-pro-2{
    position: absolute;
    right: 0;
    bottom: 0;
    pointer-events: none;
    transform: translateY(30%);
}




/* IPAD PRO */
@media (max-width: 1024px) {
  #illu1 {
    position: absolute;
    bottom: 0;
    left: 0vw;
  }
  .contact-block h1 {
    font-weight: 500;
    margin-bottom: 1em;
    font-size: 1.7em;
  }
  .contact-block .left-side {
    width: 35vw;
  }
  .title-left-content {
    margin-left: 15%;
    margin-right: 15%;
  }
  .contact-block .right-side {
    width: 65vw;
  }
  .contact-form-conainer {
    padding: 5em 3em 5em 3em;
  }

}



/* IPAD PRO */
@media (max-width: 576px) {
  .contact-block {
    display: flex;
    flex-direction: column;
    color: #FFF;
}
  .contact-block h1 {
    font-size: 30px;
    margin-bottom: 0;
  }
  .contact-block .left-side {
    width: 100vw;
    height: auto;
    top : 90px;
    z-index: 9;
    margin: 0;
    padding: 0px;
  }
  .contact-block .title-left-content {
    margin: 0;
    width: 100%;
    padding: 30px 15px;
    text-align: center;
  }
  .contact-block .right-side {
    width: 100%;
    height: calc(100% - 180px);
    padding: 30px 15px 30px 15px;
    z-index: 0;
    overflow: scroll;
    justify-content: flex-start;
  }
  .contact-form-conainer {
    position: relative;
    width: 100%;
    padding: 0 15px;
  }

}
