.glossaire{
    display: flex;
    flex-direction: row;
    color: #FFF;
}

.glossaire .left-side {
    width: 40vw;
    height: 100vh;
    background-color: rgb(var(--primary));
    position: sticky;
    top: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.glossaire .right-side {
    width: 60vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: rgba(var(--dark), 1)
}

.glossario{
    padding: 5em 20% 5em 5em;
}

.title-left-content{
    margin-left: 35%;
    margin-right: 15%;
}


.glossaire h1{
    font-weight: 500;
    margin-bottom: 1em;
}

.glossaire h2{
    font-weight: 500;
    margin: 1em 0 0.5em 0;
    font-size: 4em;
    color: rgba(var(--orange), 1);
    border-top: 1px solid rgba(var(--grey2), 0.5);

}


#illu1{
    position: absolute;
    bottom: 0;
    left: 20vw;
}

#shape-pro-1{
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translateY(-20%);
}

#shape-pro-2{
    position: absolute;
    right: 0;
    bottom: 0;
    pointer-events: none;
    transform: translateY(30%);
}


.alphabet {display:block; width: 100%;}
.alphabet button {
  background-color:rgba(var(--primary), 1);
  font-weight:bold; color:#FFF;
  z-index: 2;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 16px 0 rgb(22 42 90 / 12%);
  transition: box-shadow 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition:all 0.3s ease-in-out;
  outline:0;
  margin: 0 10px 10px 0px;
}
.alphabet:focus {
  outline:0;
}
.alphabet button:hover {
  background-color:rgba(var(--orange), 1) ;
  font-weight:bold;}
.alphabet button.active {
  background-color:rgba(var(--green), 1);
  font-weight:bold;
  color:#FFF;
  z-index: 2;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 4px 16px 0 rgb(22 42 90 / 12%);
  transition: box-shadow 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.glossario {display:block; width:100%; clear:both;}
.glossario .letter {display:none; width:100%; clear:both; padding-bottom:30px;}
.glossario .letter.active {display:block;}
.glossario h3 {text-transform:uppercase; margin-bottom:5px;}
.glossario h3.found {
  font-weight:bold;
  -webkit-animation: heartbeat 1.5s ease-in-out both 2;
	        animation: heartbeat 1.5s ease-in-out both 2;
  color: rgb(var(--orange));
  transform-origin: left;

}
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(1.09);
            transform: scale(1.09);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(1.13);
            transform: scale(1.13);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(1.09);
            transform: scale(1.09);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(1.13);
            transform: scale(1.13);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

.glossario span.found {background-color:red;}




/* IPAD PRO */
@media (max-width: 1024px) {
  #illu1 {
    position: absolute;
    bottom: 0;
    left: 0vw;
  }
  .glossaire h1 {
    font-weight: 500;
    margin-bottom: 1em;
    font-size: 1.7em;
  }
  .glossaire .left-side {
    width: 35vw;
  }
  .title-left-content {
    margin-left: 15%;
    margin-right: 15%;
  }
  .glossaire .right-side {
    width: 65vw;
  }
  .glossario {
    padding: 5em 3em 5em 3em;
  }

}



/* IPAD PRO */
@media (max-width: 576px) {
  .glossaire {
    display: flex;
    flex-direction: column;
    color: #FFF;
}
  .glossaire h1 {
    font-size: 14px;
    margin-bottom: 0;
  }
  .glossaire .left-side {
    width: 100vw;
    height: auto;
    top : 65px;
    z-index: 9;
    margin: 0;
    padding: 0px;
  }
  .title-left-content {
    margin: 0;
    width: 100%;
  }
  .glossaire .right-side {
    width: 100%;
    height: calc(100% - 180px);
    padding: 30px 15px 30px 15px;
    z-index: 0;
    overflow: scroll;
    justify-content: flex-start;
  }
  .glossario {
    position: relative;
    width: 100%;
    padding: 0 15px;
  }
  .alphabet {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    overflow: auto;
    padding: 0px 15px 15px 15px;
  }
  .alphabet button {
    margin: 0 10px 0px 0px;
  }
  .glossaire label {
    margin: 0 10px 0 0;
    font-size: 12px;
  }
  .glossaire h2 {
    margin: 0.7em 0 0.3em 0;
    font-size: 3em;
  }

}
