.slider{
  background-color: rgba(var(--white));
  color: rgba(var(--primary));
}
.slider > div{
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.slider img.image-left{
  position: absolute;
  right: 0;
  width: 40vw;
  max-width: none;
  top: 50%;
  transform: translate(0px, -30%);
}
.slider .separator{
  background: rgba(var(--orange));
  width: 75px;
  height: 4px;
  margin: 30px 0;
  display: flex;
}
.slider h2{
  font-size: 1.2em;
}
.home-form {
    display: flex;
    justify-content: flex-start;
    z-index: 0;
    opacity: 0;
}
.home-form > *{
    margin-right: 10px;
}
.loader-container-home {
    position: relative;
    z-index: 99999;
}
.loader-container-home .loader {
    height: 100%;
    width: 100%;
    z-index: 14;
    background: transparent;
    justify-content: flex-start;
    padding-left: 1em;
}
.loader-form-home {
    position: absolute;
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    box-shadow: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}
.loader-container-home .lds-ripple div {
    border: 4px solid #01426a;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loader-container-home .home-search-submit{
  z-index: 0;
}
.image-right-slider{
  position: absolute;
  top: 0;
  right: 0;
  width: 30vw;
}
.image-bottom-slider{
  position: absolute;
  bottom: 0px;
  right: 0;
  top: auto;
  transform: translate(0px, 50%);
}


@media (max-width: 1440px) {
  .slider img.image-left {
    width: 50vw;
  }
}
@media (max-width: 576px) {
  .home-form .home-search-submit{
    flex: 1 0%;
  }
  .home-form .filtres{
    flex: 1 100%;
  }
}
