
   /*                    FOOTER
  ************************************************/

#colophon{
  background-color: rgb(var(--dark2));
  background-image: url(../img/footer/footer-bkg.svg);
  color: rgb(var(--white));
  background-size: cover;
  background-position: center;
}
.footer-nav{
  columns: 2;
}
#colophon a{
  color: rgb(var(--white));
  text-decoration: none!important;
}
#colophon .footer-container a{
  padding: 0.5em 0;
  font-size: 16px;
  display: flex;
}
#colophon a:hover{
  color: rgb(var(--green));
  text-decoration: none!important;
}
.sub-footer *{font-size: 12px;}
.sub-footer {
  background-color: rgb(var(--dark));
}
/* RESPONSIVE */
/* 13 POUCES */
@media (max-width: 768px) {
  #colophon .footer-nav{
    display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  }
}
/* 13 POUCES */
@media (max-width: 1280px) {

}

@media (max-width: 1200px) {

}
/* IPAD PRO */
@media (max-width: 1024px) {


}

@media (max-width: 992px) {

}

/* IPAD */
@media (max-width: 768px) {

}

/* MOBILE */
@media (max-width: 576px) {
  .footer-nav{
    columns: 1;
  }
}
