.espace-pro,
.center-form{
    display: flex;
    flex-direction: row;
    color: #FFF;

}

.espace-pro .left-side,
.center-form .left-side{
    width: 50vw;
    height: calc(100vh - 90px);
    background-color: rgb(var(--primary));
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.right-side .my-btn {
    font-size: 1.3em!important;
}
.pro-content{
    margin-left: 35%;
    margin-right: 10%;
}

.ACR{
  display: none;
}

.espace-pro h1,
.center-form h1{
    font-weight: 500;
    margin-bottom: 1em;
}

.espace-pro .right-side,
.center-form .right-side{
    width: 50vw;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.left-side p{
  font-size: 1em!important;
}


#illu1{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0px);
}

#shape-pro-1{
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translateY(-20%);
}

#shape-pro-2{
    position: absolute;
    right: 0;
    bottom: 0;
    pointer-events: none;
    transform: translateY(30%);
}

#progress{
    color: rgb(var(--green));
    font-size: 30px;
}

.steps{
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
}

.steps span{
    opacity: .4;
    color: rgb(var(--green));
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 1em;
    transition: .35s ease;
}

.steps span img{
    width: 32px;
}

span.checked{
    opacity: 1;
}

#steps-hr{
    height: 1px;
    background-color: rgb(var(--green));
    opacity: 0.5;
}

#step-back{
    background-color: transparent;
    border: none;
    color: rgb(var(--orange));
    position: relative;
    opacity: 0;
    pointer-events: none;
    transition: .35s ease;
    text-align: left;
    padding-left: 2em;
}

#step-back:before, #step-back:after{
    content: "";
    position: absolute;
    display: block;
    width: 3px;
    height: 8px;
    left: 5px;
    border-bottom: 12px solid rgb(var(--orange));
    transition: all 0.3s ease;
    text-decoration: none;
}

#step-back:before{
    top: 35%;
    transform: rotate(-140deg);
}

#step-back:after{
    top: 55%;
    transform: rotate(140deg);
}

.center-form .right-side{
    justify-content: start;
    overflow: scroll;
    position: relative;
}
.icon-edit-name {
    position: absolute;
    left: 1em;
    top: 50%;
    transform: translate(0, calc(-50% - 0.8em));
    z-index: 3;
}
.center-form #name {
    font-size: 26px;
    width: 90%;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    padding-left: 2em;
    margin-bottom: 1em;
    background-color: #FFF;
    color: #23466a!important;
    border-radius: 8px;
    box-shadow: 0 4px 16px 0 rgb(22 42 90 / 12%);
    transition: .35s ease;
    border: 2px solid rgb(var(--orange));
    -webkit-appearance: none;
}

.center-form #name:focus{
    outline: none;
}

.forms{
    display: flex;
    flex-direction: column;
}

#form1-hr, #form2-hr{
    height: 1px;
}

.filtres label{
    color: #383838;
    opacity: 0.6;
    width: 30%;
    margin-right: 1em;
    margin-bottom: 0px;
    transition: all .35s ease;
}

.forms .filtres{
    flex-direction: row;
    justify-content: start;
    margin-bottom: 1em;
    position: relative;
}

#end-step1, #end-step2{

    order: 99;
}



.modal-error .exit{
    color: #000;
}

.modal-error h3{
    color: rgb(var(--orange));
}

.modal-error p{
    color: #000;
}

.form{
    position: absolute;
    width: 100%;
    padding: 5em 20% 5em 5em;
    opacity: 0;
    pointer-events: none;
    transition: .35s ease;
    height: 0px;
}

.form.show{
    opacity: 1;
    pointer-events: all;
    height: auto;
}

.forms a em{
    color: #000;
}

#name-lock{
    font-size: 26px;
    color: rgb(var(--primary));
    display: inline;
}

#validate{
    margin-top: 2em;
    opacity: 0;
    pointer-events: none;
}


.confirm-1, .confirm-2{
    box-shadow: 0px 4px 16px 0 rgb(22 42 90 / 35%);
    border-radius: 6px;
    padding: 1.5em;
    margin-top: 3em;
    width: fit-content;
}

#valid-form h2{
    color: #000;
}

#valid-form h3{
    color: rgb(var(--orange));
}

#valid-form p{
    color: #000;
    font-weight: bold;
}

#valid-form span{
    font-weight: 300;
}

.modal-validate .modal-body{
    padding: 3em 4em;
}

.modal-validate input[type="text"]{
    width: 80%;
    display: block;
    margin-bottom: 1rem;
}

.modal-validate, .modal-validate .modal-header .exit{
    color: #000;
}

.modal-validate input[type="checkbox"]{
    box-shadow: none;
    width: 44px;
    height: 44px;
    border: solid 1px rgb(var(--orange));
    -webkit-appearance: none;
    transform: scale(0.6) translateY(20px);
    position: relative;
    border-radius: 5px;
    z-index: 0;
}

.modal-validate input[type="checkbox"]:checked:after{
    opacity: 1;
}

.modal-validate input[type="checkbox"]:after{
    content: "";
    background-image: url("../img/custom_valid.svg");
    position: absolute;
    transition: .35s ease;
    top: -1px;
    left: -1px;
    width: 44px;
    height: 44px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.3);
    opacity: 0;
}

.name-list{
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
}

.name-list .filtres{
  align-items: start;
}

.name-list .filtres .selectMultiple{
  width: 100%;
}

.name-list .filtres .selectMultiple > div a.notShown.shown em{
  max-width: 100%;
}

.name-list a em{
  color: #000;
}

.name-locked{
  order: 1;
  color: #000;
  font-size: 1.5em;
  transition: opacity .35s ease;
  border: none;
  box-shadow: none;
  font-size: 26px;
  width: 90%;
  border-radius: 0;
  border-bottom: 1px solid #E6E6E6;
  transition: .35s ease;
  padding-bottom: 1em;
  padding-left: 0;
  margin-bottom: 0em;
}
.name-locked-2{
  order: 1;
  color: #000;
  font-size: 1.5em;
}
.removed{
  opacity: 0;
  transition: opacity .35s ease;
}


/* INFO BULLES  */
.filtres:hover label{
  opacity: 1;
}
.filtres.COORD{
  cursor: pointer;
}
.filtres.COORD:after {
    content: "i";
    height: 15px;
    width: 15px;
    background: rgb(var(--grey2));
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #fff;
    border-radius: 50px;
    left: -35px;
    font-size: 12px;
    transition: all .35s ease;
}
.filtres.COORD:hover label[for=COORD]:after {
    content: "Ces coordonées correspondent à la localisation GPS. Elles peuvent etre utiles si votre établissement est interne à une structure importante comme un hopital. Vous trouverez ces coordonnées en cliquand sur google maps à l'endroit où vous voulez etre matérialisé sur notre annuaire.";
    height: auto;
    width: 0px;
    background: rgb(var(--orange));
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    right: 2em;
    bottom: 2em;
    z-index: 9;
    opacity: 0;
    font-size: 12px;
    transition: all .35s ease;
}
.filtres.COORD:hover label[for=COORD]:after {
    height: auto;
    width: 250px;
    opacity: 1;
    transition: all .35s ease;
}

.livesearch-input{
  /* width: 90%; */
  border: #fff;
  background-color: transparent;
  box-shadow: none;
}
.step1 .filtres div{
  padding: 0;
  width: fit-content;
}

input:focus-visible {
  animation: none;
  outline: none;
}
.search-input-parent{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
/* #form1 .filtres div{
  width: 100%;
} */
/* RESPONSIVE */
/* 13 POUCES */
@media (max-height: 768px) {
}
/* 13 POUCES */
@media (max-width: 1280px) {

}

@media (max-width: 1200px) {

}
/* IPAD PRO */
@media (max-width: 1024px) {
  #illu1 {
    position: absolute;
    bottom: 0;
    left: 0vw;
    transform: translate(50%, 0px);
  }
  .espace-pro h1, .center-form h1 {
    font-weight: 500;
    margin-bottom: 1em;
    font-size: 1.7em;
  }
  .espace-pro .left-side, .center-form .left-side {
    width: 35vw;
  }
  .pro-content {
    margin-left: 15%;
    margin-right: 15%;
  }
  .espace-pro .right-side, .center-form .right-side {
    width: 65vw;
  }
  .form {
    padding: 5em 3em 5em 3em;
  }
  .form .selectMultiple,
  .form input[type="text"] {
    width: 100%;
    -webkit-appearance: none;
  }

}

@media (max-width: 992px) {

}

/* IPAD */
@media (max-width: 768px) {


}

/* MOBILE */
@media (max-width: 576px) {
  .left-side p {
    font-size: 0.8em;
  }
  .espace-pro, .center-form {
      flex-direction: column;
  }
  .espace-pro .left-side, .center-form .left-side {
    width: 100vw;
    height: auto;
    max-width: 100vw;
  }
  .pro-content {
      margin-left: auto;
      margin-right: auto;
      padding-top: 5vh;
      padding-bottom: 1vh;
      padding-left: 15px;
      padding-right: 15px;
  }
  .espace-pro .right-side, .center-form .right-side {
      width: 100vw;
      height: auto;
      padding: 10vh 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .modal-validate input[type="text"] {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
  }


  .page-template-template-form .left-side{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding: 15px 0;
    overflow: visible;
    z-index: 2;
    height: 90px;
  }
  .page-template-template-form .right-side{
    position: fixed;
    top: 90px;
    width: 100%;
    height: calc(100% - 180px);
    padding: 30px 15px 30px 15px;
    z-index: 0;
    overflow: scroll;
    justify-content: flex-start;
  }
  .page-template-template-form .form {
    position: relative;
    width: 100%;
    padding: 0 15px;
    height: 0;
    overflow: hidden;
  }
  .page-template-template-form .form.show {
    height: auto;
    position: relative;
    overflow: visible;
  }

  .form.show:not(#form1){
    padding-top: 60px;
  }
  .center-form #name {
    font-size: 20px;
    width: 100%;
  }
  .page-template-template-form .form .filtres label{
    font-size: 14px;
  }
  .page-template-template-form .form .filtres input{
    width: 100%;
  }
  .page-template-template-form .left-side .pro-content {
    margin-left: auto;
    margin-right: auto;
    padding-top: 0vh;
    padding-bottom: 0vh;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .page-template-template-form .left-side .pro-content h1,
  #progress{
    font-size: 14px;
    margin: 0;
  }
  .page-template-template-form .steps {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    justify-content: space-around;
    width: 100%;
    margin: 15px 0 0px 0;
  }
  .steps span {
    font-size: 14px;
    margin: 0;
  }
  .steps span img {
    width: 20px;
  }
  #step-back {
      position: fixed;
      left: 50%;
      top: 110px;
      transform: translate(-50%, 0px);
      box-shadow: 0 4px 16px 0 rgb(22 42 90 / 12%);
      border-radius: 50px;
      padding: 10px 20px 10px 30px;
      background: #FFF;
      font-size: 14px;
  }
  #step-back:before, #step-back:after {
    left: 15px!important;
    width: 2px;
    height: 4px;
    left: 5px;
    border-bottom: 8px solid rgb(var(--orange));
  }
  #step-back:after {
    top: 50%;
    transform: rotate(140deg);
  }
  #step-back:before {
    top: 37%;
    transform: rotate(-140deg);
  }
  #validate {
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translate(-50%, 0px);
  }
  .filtres.COORD:hover label[for=COORD]:after{
    right: 15px;
    bottom: 110px;
  }

}
@media (max-width: 400px) {
  .steps img{
    display: none;
  }
  .burger > span{display: none;}
}

@media (max-height: 900px) {
  #illu1 {
    position: absolute;
    bottom: 0;
    left: 100%;
    transform: translate(-87%, 0px);
    opacity: 0.4;
    z-index: 0;
  }
}
