.wp-block-image, figure {
    margin-bottom: 0!important;
		width: 100%;
}
.wp-block-image .aligncenter {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
}
.wp-block-separator.is-style-wide {
    border-bottom-width: 1px;
    height: 1px;
}
/* BKG COLOR */
.has-blue-background-color{background-color: #01416A;}
.has-green-background-color{background-color: #61B492;}
.has-orange-background-color{background-color: #E2735C;}
.has-grey-background-color{background-color: #F6F6F6;}

/* COLOR */
.has-blue-color{color: #01416A!important;}
.has-green-color{color: #61B492!important;}
.has-orange-color{color: #E2735C!important;}
.has-grey-color{color: #F6F6F6!important;}
.has-grey-color{color: #F6F6F6!important;}
.has-white-color{color: #fff!important;}

/* FONT SIZE STYLE */
.has-big-font-size {
    font-size: 3rem;
    font-weight: 400;
}
.has-bigtext-font-size {
    font-size: 2rem;
    font-weight: 600;
}
.has-small-font-size{
	font-size: 0.9rem;
}

/* UL */
.wp-block-group ul,
.pro-content ul{
    list-style: none;
    margin: 0;
    padding-left: 1em;
    font-size: 1.1em;
}

.wp-block-group ul li::before,
.pro-content ul li::before{
    content: "";
    width: 8px;
    height: 8px;
    margin-left: -18px;
    margin-right: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: rgb(var(--green));
}


/* **************** */
/* BTN CUSTOM STYLE */
/* light  */
.is-style-light-link a {
  padding: 1em 2em 1em 0;
  transition: all .3s;
  position: relative;
  text-decoration: none;
  font-size: 1.3em;
	background-color: transparent;
	color: var(--orange)!important;
	border-radius: 0;
}
.is-style-light-link a::before {
  content: '\203A';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-100%, -50%);
  transition: transform .3s;
  font-size: 1.5em;
}
.is-style-light-link a:hover::before {
  transform: translate(-60%, -50%);
}


/* **************** */
/* COLUMNS STYLE */
.is-style-columns-link{
  min-height: 25vh;
}
.is-style-columns-link .wp-block-column{
  display: flex;
  flex-direction: column;
  justify-content: top;
  padding: 3rem 1.5rem;
}
.is-style-columns-link .wp-block-column p{
  margin: auto 0;
}
.is-style-columns-link .wp-block-column:not(:first-child),
.is-style-container-half-right .wp-block-column:not(:first-child),
.is-style-container-half-left .wp-block-column:not(:first-child) {
    margin-left: 0em;
}


/* HALF COLUMN RIGHT */
.is-style-container-half-right .wp-block-column:first-of-type {
    padding: 5rem 5em 5rem calc(15vw + 15px);
    max-width: calc(50vw - 0em);
		justify-content: center;
    display: flex;
    flex-direction: column;

}
.is-style-container-half-right .wp-block-column:last-of-type div{
    min-height: 100%!important;
}
/* HALF COLUMN LEFT */
.is-style-container-half-left .wp-block-column:last-of-type {
    padding: 0 15px;
    max-width: 100;
		justify-content: center;
    display: flex;
    flex-direction: column;
}
.is-style-container-half-left .wp-block-column:first-of-type div{
    min-height: 100%!important;
}
/* **************** */
/* COLUMN SINGLE STYLE */
.is-style-column-border{
	box-shadow: inset 0 0 0 1pt #343a40;
}
/* **************** */
/* CONTAINER STYLE */
/* SMALL */
.is-style-container-small{
  max-width: 100%;
  padding: 0 15px;
  margin: auto;
}

/* Classic Container bottstrap */
.is-style-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}








  /**
  *     FAQ
  */
  ol.schema-how-to-steps {
    margin:0 0 1.5em;
    padding:0;
    counter-reset:item;
  }
  ol.schema-how-to-steps>li {
    margin:0;
    padding:0 0 0 2em;
    list-style-type:none;
    counter-increment:item;
  }
  ol.schema-how-to-steps>li:before {
      display: inline-block;
      padding-right: 0.5em;
      font-weight: bold;
      text-align: right;
      content: "ETAPE | " counter(item) ".";
  }
  ol.schema-how-to-steps {
      margin: 0;
      padding: 0px;
      border: 1px solid #f5f5f5;
      border-radius: 5px;
  }
  ol.schema-how-to-steps li{
    padding: 15px;
  }
  ol.schema-how-to-steps li:nth-child(even) {
      background: #f5f5f5;
  }
  .schema-how-to-description {
      font-weight: 900;
      color: #e73f72;
      font-size: 20px;
      margin-top: 30px;
  }
  .schema-faq{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: transparent;
    color: var(--grey);
    border-radius: 0px;
    cursor: pointer;
  }
  .schema-faq-section {
      width: 100%;
  }
  .schema-faq-question {
    display: flex;
    width: 100%;
    padding: 0.5em 0;
    font-weight: 400;
    cursor: pointer;
    border-radius: 0px;
    border-bottom: 1px solid #9292925c;
    z-index: 9;
    left: 50%;
    top: 50%;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .single .schema-faq-question  {
    font-size: 16px!important;
    align-items: center;
  }
  .schema-faq-question:before {
      content: "+";
      color: rgb(var(--orange));
      display: inline-flex;
      font-weight: 600;
      font-size: 28px;
      line-height: 22px;
      align-items: center;
      justify-content: center;
      height: 22px;
      margin-right: 15px;
      transform-origin: center;
      -webkit-transition: all 300ms ease;
      -moz-transition: all 300ms ease;
      -ms-transition: all 300ms ease;
      -o-transition: all 300ms ease;
      transition: all 300ms ease;
  }
.schema-faq-section:hover .schema-faq-question:before{
  transform: rotate(90deg);
}
  .left-side .schema-faq-answer {
      padding: 1em 0;
      display: none;
      overflow: hidden;
      font-size: 1em!important;
      margin: 0;
  }

  .faq-light .schema-faq-question{
    border-radius: 15px;
    opacity: .6;
  }

  .faq-light .schema-faq-question:before{
    font-weight: 400;
  }






@media (min-width: 576px){
  .is-style-container,
  .container {
      max-width: 540px!important;
  }
  .is-style-container-small {
    max-width: 55vw;
    margin: auto;
  }
  .is-style-container-half-left .wp-block-column:last-of-type {
    padding: 2rem calc(3vw + 15px) 2rem 2em;
  }
  /* FONT SIZE STYLE */
  /* .has-big-font-size {
      font-size: 2rem;
      font-weight: 400;
  } */

}
@media (min-width: 768px){
  .is-style-container,
  .container {
    max-width: 720px!important;
  }
}
@media (min-width: 992px){
  .is-style-container,
  .container {
    max-width: 960px!important;
  }
}
@media (min-width: 1024px){
  .is-style-container,
  .container {
    max-width: 90vw!important;
  }
  .is-style-container-half-left .wp-block-column:last-of-type {
    padding: 5rem calc(5vw + 15px) 5rem 5em;
  }
}
@media (min-width: 1200px){
  .is-style-container,
  .container {
    max-width: 70vw!important;
  }
  .is-style-container-half-left .wp-block-column:last-of-type {
    padding: 5rem calc(15vw + 15px) 5rem 5em;
  }
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {



}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {



}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {



}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {



}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {


}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  .is-style-container-small{
    max-width: 100vw;
    padding: 0 15px;
  }

  .has-big-font-size{
    font-size: 2rem!important;
  }

  .has-bigtext-font-size{
    font-size: 1.3rem;
  }

  .is-style-container-half-right .wp-block-column:first-of-type,
  .is-style-container-half-left .wp-block-column:last-of-type  {
    padding: 0 15px;
    max-width: 100%;
  }


}
