/*                    MENU
*************************************************/


body.no-scroll{
  overflow: hidden;
}

header {
    height: 90px;
    background-color: rgba(var(--white));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    top: 0;
    position: sticky;
    z-index: 9999;
    box-shadow: 0px 3px 3px #00000012;
}

.map-header{
  height: 180px;
}
header.map-header .main-header {
  margin: 2em auto 0.7em auto;
  padding: 0 3em;
}

.main-header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: auto;

}

nav{
  display: flex;
  flex-direction: row;
  color: rgba(var(--primary));
}

.main-menu-container{
  display: flex;
  flex-direction: row;
}

.main-menu-container li{
  margin: 0 1em;
}

.main-menu-container a{
  color: rgba(var(--primary));
  text-decoration: none;
  transition: .35s ease;
}

.main-menu-container a:hover{
  color: rgb(var(--green));
}
.mobile-form-mask,
.mobile-nav-mask{
  background: rgb(var(--dark), 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  display: none;
  backdrop-filter: blur(5px);
}
.mobile-nav-mask{
  width: 100vw;
  left: 0;
  z-index: 999;
}

/* BURGER MENU */
.burger-nav {
    position: fixed;
    transform: translate(100%, 0);
    height: 100vh;
    width: var(--widthnavmobile);
    background: rgba(var(--orange), 0.9);
    right: 0;
    top: 0;
    z-index: 999999999;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
    transition: .35s ease;
}

.nav-open .burger-nav{
    transform: translate(0%, 0);
}
.overflow-y-nav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  height: 100%;
}
.burger-menu-container a {
    font-size: 2em;
    color: #fff;
    padding: 0em 1em;
    margin: 1em 0;
    display: flex;
    border-left: 6px solid rgba(var(--green), 0);
    text-decoration: none;
    line-height: 1.1em;
    letter-spacing: 1px;
    transition: .35s ease;

}
.burger-menu-container a:hover {
    border-left: 6px solid rgba(var(--green), 1);
    text-decoration: none;

}
.infos-contact-nav{
  background: rgba(var(--light), 0.9);
  backdrop-filter: blur(10px);
  color: rgba(var(--white));
}
.infos-contact-nav h2{
  font-size: 1em;
}
.burger-nav .close{
  width: auto;
  display: inline;
  padding: 2rem;
  float: none;
  text-align: left;
  font-size: 3em;
  font-weight: 300;
  border-bottom: 2px solid rgba(var(--white), 0.2);
}

/* BURGER CROSS */
.burger-cross {
  cursor: pointer;
  min-height: 100%;
  display: flex!important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.transparent-nav .burger-cross span {
  background: rgba(var(--orange),1);
}

.burger-cross span, .burger-cross span {
  display: block;
  height: 2px;
  width: 25px;
  margin-bottom: 4px;
  background: rgba(var(--orange),1);
}

.nav-open .burger-cross .hamb-line {
  width: 0;
}

.burger-cross span {
  transition-delay: 800ms ;
}
.burger-cross span:nth-child(2) {
  transition-delay: 950ms;
}
.burger-cross span:nth-child(1) {
  transition-delay: 1100ms;
}
.nav-open .burger-cross span {
  transition-delay: 0ms ;
}
.nav-open  .burger-cross span:nth-child(2) {
  transition-delay: 150ms;
}
.nav-open  .burger-cross span:nth-child(1) {
  transition-delay: 300ms;
}

.crose-line {
    position: absolute!important;
    top: 50%;
    left: 50%;
    width: 0!important;
    transform: rotate(45deg) translate(-50%, -50%)!important;
    transform-origin: center left;
    margin: 0!important;
    transition-delay: 0ms!important;
}
.crose-line2 {
  transform: rotate(-45deg) translate(-50%, -50%)!important;
  transition-delay: 200ms!important;
}
.nav-open .crose-line {
  width: 100%!important;
  transition-delay: 700ms!important;
}
.nav-open .crose-line2 {
  width: 100%!important;
  transition-delay: 850ms!important;
}

/* RESPONSIVE */
/* 13 POUCES */
@media (max-height: 768px) {

}
/* 13 POUCES */
@media (max-width: 1280px) {

}

@media (max-width: 1200px) {

}
/* IPAD PRO */
@media (max-width: 1024px) {
  header {
      padding: 0 3em;
    }

}

@media (max-width: 992px) {

}

/* IPAD */
@media (max-width: 768px) {
  :root{
   --widthnavmobile: 75vw;
  }

  header {
      padding: 0px 20px;
  }
  .burger-menu-container a {
    font-size: 1.6em;
  }

}

/* MOBILE */
@media (max-width: 576px) {
  header {
    height: 65px;
  }
  .main-header {
      align-items: center;
      padding: 0em!important;
      margin: 0.7em auto 0.7em auto!important;
  }
  .map-header {
    height: auto;
  }
  .burger-menu-container a {
    font-size: 1.3em;
  }
}
