:root{
 --primary: 1, 65, 106;
 --black: 0, 0, 0;
 --white: 255, 255, 255;
 --grey: 240, 240, 240;
 --grey2: 153, 163, 186;
 --light: 17, 77, 115;
 --dark: 66, 66, 66;
 --dark2: 60, 69, 75;
 --orange: 226, 115, 92;
 --green: 97, 180, 146;
 --widthnavmobile: 25vw;
}

.text-white{color: rgb(var(--white))!important;}
.text-black{color: rgb(var(--black))!important;}
.uppercase{text-transform: uppercase;}
[hidden] {
    display: none !important;
}
.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.wp-block-columns{
    margin: 0;
}

.modal {
    z-index: 91050!important;
}
@media (min-width: 1500px) {
    .container {
        max-width: 70vw;
    }
}
.anim-300-linear, .anim-300-linear a {
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.anim-300, .anim-300 a {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.anim-500, .anim-500 a {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.anim-800, .anim-800 a {
    -webkit-transition: all 800ms ease !important;
    -moz-transition: all 800ms ease !important;
    -ms-transition: all 800ms ease !important;
    -o-transition: all 800ms ease !important;
    transition: all 800ms ease !important;
}

.anim-800-linear {
    -webkit-transition: all 800ms linear !important;
    -moz-transition: all 800ms linear !important;
    -ms-transition: all 800ms linear !important;
    -o-transition: all 800ms linear !important;
    transition: all 800ms linear !important;
}

.nav ul {
    list-style: none;
    margin-bottom: 0;
}

.no-bkg {
    background: transparent !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

.ls-1 {
    letter-spacing: 1px !important;
}

.ls-2 {
    letter-spacing: 2px !important;
}

.ls-3 {
    letter-spacing: 3px !important;
}

.ls-4 {
    letter-spacing: 4px !important;
}

.w-50vw {
    width: 50vw;
    min-width: 300px;
}

.w-100vw {
    width: 100vw;
}

.h-50vh {
    height: 50vh
}

.h-100vh {
    height: 100vh
}

.mh-100vh {
    min-height: 100vh;
}

/* BOUTON */
.my-btn,
.is-style-addictoclic-link a,
.is-style-addictoclic-arrow-link a
{
  padding: 1em 2em;
  margin-bottom: 1em;
  color: #FFF;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  border: none;
}
.my-btn:hover,
.is-style-addictoclic-link a:hover,
.is-style-addictoclic-arrow-link a:hover{
  text-decoration: none;
  color: inherit;
}
.my-btn:visited,
.is-style-addictoclic-link a:visited,
.is-style-addictoclic-arrow-link a:visited{
  color: inherit;
}
.btn-arrow,
.is-style-addictoclic-arrow-link a{
  padding: 1em 3.5em 1em 1em;
}
.btn-arrow-same-height,
.is-style-addictoclic-arrow-link a{
  min-height: 80px;
  max-width: 290px;
}
.btn-arrow:after,
.btn-arrow:before,
.is-style-addictoclic-arrow-link a:after,
.is-style-addictoclic-arrow-link a:before{
    content: "";
    position: absolute;
    display: block;
    width: 3px;
    height: 8px;
    right: 5%;
    border-bottom: 12px solid #FFF;
    transition: all 0.3s ease;
    text-decoration: none;
}
.btn-arrow:after,
.is-style-addictoclic-arrow-link a:after{
  bottom: 50%;
  transform: translate(-15px , calc(100% - 2px)) rotate(-140deg);
}
.btn-arrow:before,
.is-style-addictoclic-arrow-link a:before {
    top: 50%;
    transform: translate(-15px , calc(-100% + 2px)) rotate(140deg);
}
.btn-arrow:hover:after,
.is-style-addictoclic-arrow-link a:hover:after{
  transform: translate(-10px , calc(100% - 2px)) rotate(-140deg);
}
.btn-arrow:hover:before,
.is-style-addictoclic-arrow-link a:hover:before{
  transform: translate(-10px , calc(-100% + 2px)) rotate(140deg);
}
.btn-green{
  background-color: rgb(var(--green));
}
.btn-orange{
  background-color: rgb(var(--orange));
}
.btn-blue{
  background-color: rgb(var(--primary));
}
/* END BTN */



.list-unstyled{
    list-style: none;
    margin: 0;
    padding: 0;
}
