  .greyscale{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000052;
    z-index: 1;
    pointer-events: none;
  }
  .RS-footer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #rs-menu-mobile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--primary);
  }
  #rs-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  #rs-menu li,
  #rs-menu-mobile li{
    margin: 0 1em;
  }
  #rs-menu span,
  #rs-menu-mobile span{
    display: none;
  }
  #rs-menu img,
  #rs-menu-mobile img{
    height: 20px;
    width: 20px;
    max-width: none;
  }
  .notification {
    position: fixed;
    right: 0;
    bottom: 5vh;
    background-color: var(--primary);
    color: var(--white);
    padding: 1.5em 2em 1.5em 8em;
    border-radius: 25px 0 0 25px;
    z-index: 9;
  }
  .notification p{
    font-size: 1.2em;
  }
  .temp{
    width: 100px;
    height: 50px;
  }
  .notification-logo-left{
    position: absolute;
    left: -10%;
    top: 50%;
    transform: translateY(-50%);
  }
  .notification button{
    opacity: 1;
  }
  .notification button span{
    color: var(--white);
  }
  .notification.closed,
  .down-scroll.sticky .notification{
    opacity: 0;
    transform: translateX(100%);
  }
  .notification .close{
    margin-left: 1em;
  }
  .notification p{
    max-width: 350px;
  }
  .custom-modal{
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: #000000cb;
    transition: .8s ease;
  }
  .custom-modal .modal-dialog{
    transition: .8s ease;
  }
  .modal-big{
    max-width: 80%;
  }
  .modal-visuel{
    width: 50%;
    margin: 0 1em;
  }
  .custom-modal.closed{
    opacity: 0;
    transition: .6s ease;
    pointer-events: none;
  }
  .custom-modal.closed .modal-dialog{
    transform: translateY(-50%);
    transition: .6s ease;
  }
  .custom-modal.closed .modal-content{
    pointer-events: none;
  }
  body.modalOpen{
    overflow-y: hidden;
  }
  .custom-modal .modal-title{
    font-size: 1.8em;
    text-transform: none;
  }


  /* ----------- */
  /**
  *     Contact form
  */
  form .row{
    margin: 2em;
  }
  form input{
    width: 100%;
    height: 3.5em;
    padding: 0.5em 1.5em !important
  }
  form textarea{
    padding: 1em !important;
  }
  .custom-submit input{
    color: var(--white);
    background-color: var(--primary);
    padding: 1em;
    border-radius: 30px;
    font-size: 1em;
    display: inline-flex;
    text-decoration: none;
    transition: .35s ease;
    text-align: center;
    justify-content: center;
    border: none;
    width: 50%;
  }
  .custom-submit{
    margin: auto;
    text-align: center;
    cursor: pointer;
    transition: .3s ease;
  }
  .custom-submit:hover{
    opacity: .95;
  }
  .img-boutique{
    border-radius: 10px;
  }

  .search-header{
    color: var(--white);
    position: relative;
  }



  /* ----------- */
  /* Browser Compatibility */
  .browser-no-display{
    display: none!important;
  }
  .section-subtitle{
    color: var(--primary);
  }

  /* ----------- */
  .filtres.PRODUITS{
    order: 0;
  }
  .filtres.CP{
    order: 1;
  }
  .filtres.PUBLIC{
    order: 2;
  }
  .filtres.AIDE{
    order: 3;
  }
  .filtres.VILLE{
    order: 4;
  }
  .filtres.NOM{
    order: 5;
  }
  #form1 .filtres.NOM{
    order: 1;
  }




  /* RESPONSIVE */
  /* 13 POUCES */
  @media (max-height: 768px) {

  }
  /* 13 POUCES */
  @media (max-width: 1280px) {

  }

  @media (max-width: 1200px) {

  }
  /* IPAD PRO */
  @media (max-width: 1024px) {


  }

  @media (max-width: 992px) {

  }

  /* IPAD */
  @media (max-width: 768px) {

  }

  /* MOBILE */
  @media (max-width: 576px) {


  }
