.app{
    height: calc(100vh - 180px);
    width: 100vw;
    display: flex;
    flex-direction: row;
}



.app .right-side{
    width: 60vw;
    height: 100%;
    position: relative;
}

.app .left-side{
    width: 40vw;
    height: 100%;
    overflow: scroll;
    position: relative;
    scroll-behavior: smooth;
    background-color: rgb(var(--white));

}
.modal{
      overflow: scroll!important;
}
.modal-footer {
  text-align: left!important;
}


.scroll-col{
    height: auto;
}

.empty-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: .35s ease;
  display: flex;
  flex-direction: column;
  color: rgb(var(--dark));
  justify-content: center;
  align-items: center;
  text-align: center;
}

.empty-center .rm-CP, .empty-center .reset{
  color: #FFF !important;
  background-color: rgb(var(--orange));
  padding: 0.5em 1em;
  border-radius: 4px;
  cursor: pointer;
}

.reset svg g{
  fill: #FFF;
}


.location-template,
.location{
    color: rgb(var(--dark));
    border-right: 14px solid transparent;
    transition: .35s ease;
    position: relative;
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    transform-origin: center;
    background-color: rgb(var(--grey));
}

.location h3{
  color: rgb(var(--primary));
}
.scroll-col .visible:nth-child(even){
  background-color: rgb(var(--white))
}

.location:hover,
.location-template:hover{
    border-right: 14px solid rgb(var(--green));
}

.location-img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center center;
}

.location-container{
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    position: relative;
}

.loc-mail,
.loc-tel{
  color: rgba(var(--green));
}

.location-container p{
    margin: 0;
}

.search-count{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  padding: 1em 2em 1em calc(1em + 14px);
  background-color: rgba(var(--white));
  z-index: 2;
  border-top: 1px solid rgb(var(--orange));
}

.location-arrow{
  width: auto;
  position: absolute;
  height: 100%;
  right: 30px;
}

.location-arrow:after{
  top: 34%;
  transform: rotate(-140deg);
}

.location-arrow:before{
  top: 36%;
  transform: rotate(140deg);
}

.location:hover .location-arrow:after,
.location:hover .location-arrow:before{
  border-bottom: 12px solid rgb(var(--green));
}

.location-arrow:before, .location-arrow:after{
    content: "";
    position: relative;
    display: block;
    width: 3px;
    height: 8px;
    border-bottom: 12px solid rgb(var(--orange));
    transition: all 0.3s ease;
}

.search-count p, .search-count a span, .search-count .rm-CP{
  margin: 0;
  color: rgb(var(--grey2));
}

#map{
    height: 100%;
    width: 100%;
}

.marker-title{
    text-transform: capitalize;
}

#map p{
    margin: 0.1em;
}

.loc-mail{
    width: max-content;
}

.filtres{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.filtres.CP:after {
  content: "Exemple : 33, 33200";
  position: absolute;
  top: calc(100% - 10px);
  left: 0%;
  width: 100%;
  font-size: 1rem;
  background: #FFF;
  padding: 18px 12px 10px 12px!important;
  border: 1px solid #e2735b;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 4px 16px 0 rgb(22 42 90 / 12%);
  display : none;
  text-align: center;
}

.filtres.CP:hover:after {
  display: block;
}
/* .filtres.NOM{
  display: none;
} */
.filtres.COORD{
  display: none;
}

.filtre-container{
  flex-grow: 1;
  width: 100%;
  display: flex;
  align-items: center;
}

#filtre-input{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (min-width: 1440px) {
  #filtre-input {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  #filtre-input > * {
      margin: 0 7px;
  }
}

.filtre-submit{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea{
  background-color: #FFF;
  color: #23466a!important;
  border-radius: 8px;
  box-shadow: 0 4px 16px 0 rgb(22 42 90 / 12%);
  padding: 2px 12px 2px 12px!important;
  font-size: 16px;
  font-weight: 500;
  min-height: 48px;
  transition: .35s ease;
  border: 2px solid rgba(1,66, 106, 0.1);
  -webkit-appearance: none;
}

input[type="text"]:focus-visible,
input[type="email"]:focus-visible,
input[type="tel"]:focus-visible,
textarea:focus-visible,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus{
  outline: none;
  border: 2px solid rgb(var(--orange));
}

button:focus-visible, button:focus{
  outline: none;
  border: 2px solid rgb(var(--orange));
}

input[type="text"]::placeholder,
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder,
textarea::placeholder{
  color: #99A3BA!important;
}

.modal-footer{
  display: flex;
  justify-content: space-between;
}

.modal-footer:after,
.modal-footer:before{
  content: unset;
}

.print{
  color: white!important;
}

.location-container p{
  font-size: 1em;
}

.search-submit,
.home-search-submit{
  background-color: rgb(var(--green));
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: 0 4px 16px 0 rgb(22 42 90 / 12%);
  transition: .35s ease;
  order: 99;
  z-index: 99;
  padding: 0 1.5em;
  height: 50px;
  align-self: center;
}

.search-submit svg,
.home-search-submit svg{
  width: 20px;
}

.search-submit svg g,
.home-search-submit svg g{
  stroke-width: 3px;
}

/*       Multiple form field            */

.selectMultiple {
    width: 12vw;
    position: relative;
    transition: .25s ease;
    border-radius: 8px;
    border: 2px solid #01426a0f;
  }
  .slider .selectMultiple,
  .slider input[type="text"] {
    border: 1px solid #e2735b;
  }
  .selectMultiple select {
    display: none;
  }
  .selectMultiple.open{
    border: 2px solid rgb(var(--orange));
  }
  input, select,
  .selectMultiple > div {
    position: relative;
    z-index: 2;
    padding: 0 12px;
    border-radius: 8px;
    background: #fff;
    font-size: 16px;
    min-height: 44px;
    box-shadow: 0 4px 16px 0 rgba(22, 42, 90, 0.12);
    transition: box-shadow 0.3s ease;
  }
  .selectMultiple > div:hover {
    box-shadow: 0 4px 24px -1px rgba(22, 42, 90, 0.16);
  }
  .selectMultiple > div .arrow {
    right: 1px;
    top: 0;
    bottom: 0;
    cursor: pointer;
    width: 28px;
    position: absolute;
  }
  .selectMultiple > div .arrow:before, .selectMultiple > div .arrow:after {
    content: "";
    position: absolute;
    display: block;
    width: 2px;
    height: 8px;
    border-bottom: 8px solid rgb(var(--orange));
    top: 43%;
    transition: all 0.3s ease;
  }
  .selectMultiple > div .arrow:before {
    right: 12px;
    transform: rotate(-130deg);
  }
  .selectMultiple > div .arrow:after {
    left: 9px;
    transform: rotate(130deg);
  }
  .step1 .selectMultiple > div .arrow:after {
    left: -8px;
    transform: rotate(130deg);
  }
  .selectMultiple > div span {
    color: #99A3BA;
    display: block;
    position: absolute;
    left: 12px;
    cursor: pointer;
    top: 8px;
    font-weight: 500;
    line-height: 28px;
    transition: all 0.3s ease;
  }
  .selectMultiple > div span.hide {
    opacity: 0;
    visibility: hidden;
    transform: translate(-4px, 0);
  }
  .selectMultiple > div input {
    opacity: 1;
    height: 100%;
    visibility: inherit;
  }
  .selectMultiple > div input.hide {
    opacity: 0;
    height: 0;
    display: none;
    visibility: hidden;
    transform: translate(-4px, 0);
  }
  .selectMultiple > div a {
    position: relative;
    padding: 0 24px 0 8px;
    line-height: 28px;
    color: #1E2330;
    display: inline-block;
    vertical-align: top;
    margin: 6px 6px 6px 6px;
  }
  .selectMultiple > div a em {
    font-style: normal;
    display: block;
    white-space: nowrap;
    max-width: 8vw;
    overflow: hidden;
  }
  .selectMultiple > div a:before {
    content: "";
    left: 0;
    top: 0;
    bottom: 6px;
    width: 100%;
    position: absolute;
    display: block;
    background: rgb(var(--orange));
    opacity: 0.1;
    z-index: 1;
    padding: 15px 0;
    border-radius: 4px;
  }
  .selectMultiple > div a i {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 28px;
    display: block;
  }
  .selectMultiple > div a i:before, .selectMultiple > div a i:after {
    content: "";
    display: block;
    width: 2px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: rgb(var(--orange));
    border-radius: 1px;
  }
  .selectMultiple > div a i:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .selectMultiple > div a i:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .selectMultiple > div a.notShown {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .selectMultiple > div a.notShown:before {
    width: 28px;
    transition: width 0.45s cubic-bezier(0.87, -0.41, 0.19, 1.44) 0.2s;
  }
  .selectMultiple > div a.notShown i {
    opacity: 0;
    transition: all 0.3s ease 0.3s;
  }
  .selectMultiple > div a.notShown em {
    opacity: 0;
    transform: translate(-6px, 0);
    transition: all 0.4s ease 0.3s;
  }
  .selectMultiple > div a.notShown.shown {
    opacity: 1;
  }
  .selectMultiple > div a.notShown.shown:before {
    width: 100%;
  }
  .selectMultiple > div a.notShown.shown i {
    opacity: 1;
  }
  .selectMultiple > div a.notShown.shown em {
    opacity: 1;
    transform: translate(0, 0);
    max-width: 70px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .selectMultiple > div a.remove:before {
    width: 28px;
    transition: width 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44) 0s;
  }
  .selectMultiple > div a.remove i {
    opacity: 0;
    transition: all 0.3s ease 0s;
  }
  .selectMultiple > div a.remove em {
    opacity: 0;
    transform: translate(-12px, 0);
    transition: all 0.4s ease 0s;
  }
  .selectMultiple > div a.remove.disappear {
    opacity: 0;
    transition: opacity 0.5s ease 0s;
  }
  .selectMultiple > ul {
    background: #fff;
    margin: 0;
    padding: 0;
    list-style: none;
    max-height: 170px;
    font-size: 16px;
    z-index: 1;
    position: absolute;
    overflow: hidden;
    border-radius: 8px;
    top: 100%;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    border-radius: 8px;
    transform: translate(0, 20px) scale(0.8);
    transform-origin: 0 0;
    filter: drop-shadow(0 12px 20px rgba(22, 42, 90, 0.08));
    transition: all 0.4s ease, transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44), filter 0.3s ease 0.2s;
  }
  .selectMultiple > ul li {
    color: #1E2330;
    background: #fff;
    padding: 12px 16px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: 0.3s ease;
  }
  .selectMultiple > ul li:first-child {
    border-radius: 8px 8px 0 0;
  }
  .selectMultiple > ul li:first-child:last-child {
    border-radius: 8px;
  }
  .selectMultiple > ul li:last-child {
    border-radius: 0 0 8px 8px;
  }
  .selectMultiple > ul li:last-child:first-child {
    border-radius: 8px;
  }
  .selectMultiple > ul li:hover {
    background: rgb(var(--orange));
    color: #fff;
  }
  .selectMultiple > ul li:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%, -50%);
    transform-origin: 50% 50%;
  }
  /* .selectMultiple > ul li.beforeRemove {
    border-radius: 0 0 8px 8px;
  }
  .selectMultiple > ul li.beforeRemove:first-child {
    border-radius: 8px;
  }
  .selectMultiple > ul li.afterRemove {
    border-radius: 8px 8px 0 0;
  }
  .selectMultiple > ul li.afterRemove:last-child {
    border-radius: 8px;
  } */
  .selectMultiple > ul li.remove {
    transform: scale(0);
    opacity: 0;
  }
  .selectMultiple > ul li.remove:after {
    -webkit-animation: ripple 0.4s ease-out;
            animation: ripple 0.4s ease-out;
  }
  .selectMultiple > ul li.notShown {
    display: none;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.35s ease, opacity 0.4s ease;
  }
  .selectMultiple > ul li.notShown.show {
    transform: scale(1);
    opacity: 1;
  }
  .selectMultiple.open > div {
    box-shadow: 0 4px 20px -1px rgba(22, 42, 90, 0.12);
  }
  .selectMultiple.open > div .arrow:before {
    transform: rotate(-50deg);
  }
  .selectMultiple.open > div .arrow:after {
    transform: rotate(50deg);
  }
  .selectMultiple.open > ul {
    transform: translate(0, 12px) scale(1);
    opacity: 1;
    visibility: visible;
    filter: drop-shadow(0 16px 24px rgba(22, 42, 90, 0.16));
    z-index: 999;
    overflow: scroll;
  }

  .selectMultiple .trigger{
    width: 0;
    height: 0;
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent!important;
    z-index: 1;
    padding: 0;
    margin: 0;
    border-radius: 0;
    min-height: 0;
  }

  .selectMultiple.open .trigger{
    width: 100vw;
    height: 100vh;
  }
  .loader-container-home input::placeholder{
    color: #23466a!important;
    font-weight: 500;
  }

  @-webkit-keyframes ripple {
    0% {
      transform: scale(0, 0);
      opacity: 1;
    }
    25% {
      transform: scale(30, 30);
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(50, 50);
    }
  }

  @keyframes ripple {
    0% {
      transform: scale(0, 0);
      opacity: 1;
    }
    25% {
      transform: scale(30, 30);
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(50, 50);
    }
  }


  /* modal */

  .modal h4{
    color: rgb(var(--orange));
    text-transform: uppercase;
  }

  .print-btn{
    background-color: rgba(var(--green), 0.9);
    color: #FFF;
    transition: .35s ease;
  }

  .modal-header{
    padding-bottom: 1rem;
    align-items: center;
  }

  .exit{
    background-color: rgba(var(--orange), 0.9);
    color: #000;
    transition: .35s ease;
    margin: 0;
  }
  .exit:hover{
    color: #FFF;
  }

  .print-btn:hover{
    background-color: rgba(var(--green), 1);
    color: #FFF;
  }

  .exit:hover{
    color: #FFF;
    background-color: rgba(var(--orange), 1);
  }

  .modify{
    color: #000 !important;
    font-size: 14px;
  }

  .print-btn svg{
    width: 24px;
    height: 36px;
  }


  /* loader */

  .loader{
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    background-color: rgb(var(--primary));
  }

  .lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }




/* RESPONSIVE */
/* 13 POUCES */
@media (max-height: 768px) {

}
/* 13 POUCES */
@media (max-width: 1280px) {

}

@media (max-width: 1200px) {

}
/* IPAD PRO */
@media (max-width: 1024px) {
  .selectMultiple {
    width: 210px;
    border-radius: 5px;
    border: 1px solid transparent;
  }

}

@media (max-width: 992px) {
  .selectMultiple {
    width: 180px;
  }
  .location-container {
    margin-left: 0;
  }
  .search-count {
    padding: 1em 2em 1em calc(1em + 0px);
    flex-direction: column;
  }
  .search-count p {
    margin: 20px 0;
  }
  .location-arrow {
    right: 10px;
    transform: scale(0.8);
  }
  .location-container p,
  .location-container .loc-mail {
    font-size: 0.8em;
  }
  .location-container h3.loc-title {
    font-size: 1.1em;
  }
  .location-container .loc-tel,
  .location-container .loc-mail{
  font-size: 0.8em;
  margin: 0.3em 0 0 0;
  }
}

/* IPAD */
@media (max-width: 768px) {
  .selectMultiple {
    width: 130px;
  }
}

/* MOBILE */
@media (max-width: 576px) {
  .map-header {
    height: 95px;
  }
  .app {
    height: calc(100vh - 90px);
  }
  .filtre-container {
    flex-grow: 1;
    width: 100%;
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 15px 30px 0px 30px;
    background: rgb(var(--white));
    border-bottom: 1px solid rgb(var(--dark));
    transform-origin: top;
    border-radius: 0 0 15px 15px;
    display: none;
  }
  .location-container{
    justify-content: flex-start;
  }
  .loc-dep{
    margin-bottom: auto!important;
  }
  .loc-city, .loc-tel{
        margin-top: auto!important;
  }

  #filtre-input {
    flex-direction: column;
    padding: 20px 0 2em 0
  }
  .selectMultiple,
  input#filter-CP,
  .search-submit ,
  .home-search-submit {
    width: 100%;
    margin-bottom: 5px;
  }
  .search-count p, .search-count a span {
    font-size: 0.7em!important;
    margin: 10px 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }
  .app .right-side {
    width: 100vw;
    height: 100%;
    position: relative;
  }
  .app .left-side {
    width: 100vw;
    height: auto;
    overflow: scroll;
    background-color: transparent;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    padding-bottom: 30px;
  }
  .mobile-form {
    padding: 1em 2em;
    margin-bottom: 1em;
    color: #FFF;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    border: none;
    transform: translate(0px, 40%);
    border: 5px solid rgb(var(--white));;
    border-top: 0px;
    z-index: 9;
}
  .location-template, .location,
  .scroll-col .visible:nth-child(even) {
    border-right: 0px solid transparent;
    transition: .35s ease;
    position: relative;
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    transform-origin: center;
    background-color: rgb(var(--white), 0.9);
    border-radius: 10px;
    margin-right: 0em;
    min-width: 60vw;
    backdrop-filter: blur(2px);
    height: auto!important;
  }
  .location.visible {
    margin-right: 1em!important;
  }
  .search-count {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 1em;
    padding: 1em 2em 1em calc(1em + 14px);
    background-color: rgba(var(--white));
    z-index: 2;
    border-top: 0px solid rgb(var(--orange));
    border-radius: 10px;
    margin-right: 1em;
    padding: 15px;
    margin-left: 1em;
  }
  .modal-body {
    padding: 15px 15px 15vh 15px!important;
  }
  .modal-footer {
    text-align: left!important;
    position: fixed;
    bottom: 0;
    background: #FFF;
    left: 0;
    width: 100%;
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
  }
  @-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }



  }

  .empty-center {
      background-color: rgb(var(--white), 0.9);
      backdrop-filter: blur(2px);
      padding: 1em;
      border-radius: 10px;
      min-width: 60vw;
      height: calc(100% - 30px);
      color: rgb(var(--primary), 1);
      top: calc(50% - 15px);
  }


}
